
*{
    padding: 0;
    margin: 0;
}

/* 分割线样式 */
hr{
    margin: 1em auto;
    border: 1px dashed #919aa1;
    max-width: 800px;
    align-self: center;
}
section p{
    text-align: justify;
}

#banner{
    position: relative;
    width: 100%;
    padding: 5em 0;
    text-align: center;
    background-image: url("../static/img/111.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
section h1{
    text-align: center;
    font-size: 3em;
}
/* 每一段前面的文字部分 */
.quto{
    max-width: 800px;
    margin: 1em auto;
    font-size: 1.4em;
}
#title{
    position: relative;
    z-index: 10;
}
#title p,#title h1,#title h3{
    margin: 1em;
    color: #fff;
}

#banner::before{
    z-index: 5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(197,70,69,.5),rgb(221,147,145));
}