

.box{
    margin-left: 3em;
    max-height: 600px;
    overflow-y: scroll;
    padding: 0 3em;
    margin:0 auto;
    max-width: 800px;
    position: relative;
}

.line{
    position: absolute;
    width: 1px;
    height: 1000px;
    border: 1px dashed #ddd;
    margin-right: 10%;
    float: left;
}

.box ul{
    width: 89%;
    float: left;
    list-style-type: none;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul li{
    margin-left: 3em;
    /* margin: 40px auto; */
    margin-bottom: 40px;
    position: relative;
    padding: 10px 20px;
    background:rgb(255,109,112);
    color:#fff;
    border-radius: 10px;
    line-height: 20px;
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left:-3em;
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#ff6d6d;
    position: absolute;
}


.box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .name{
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}